.blocks-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 47px;
}

.blocks-row__block {
  width: 316px;
  height: 184px;
  border-radius: 4px;
  border: 1px solid var(--stroke-light, #dee2e6);
  background: #fff;
  margin-top: 22px;
}
.block-title {
  color: #000;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  padding-top: 18px;
  text-align: center;
  padding-top: 18px;
}
.block-symbol {
  color: var(--body-text-base-color, #68717a);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  text-align: center;
  padding-top: 24px;
}

.block-keywords {
  color: #3f444a;
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  padding-top: 12px;
}
